
// {{.StructName}}Initializer provides a container struct to initialize a new {{.StructName}} object.
type {{.StructName}}Initializer struct {
    {{range .Fields}}{{.Name}} {{.Type}} {{.JSONName}}
    {{end}}
}

// New{{.StructName}} creates a new instance of {{.StructName}} populated with the values from a
// {{.StructName}}Initializer instance.
func New{{.StructName}}({{.ParamName}} *{{.StructName}}Initializer) *{{.StructName}} {
    return &{{.StructName}} {
        {{range .Fields}}{{.InternalName}}: {{$.ParamName}}.{{.Name}},
        {{end}}
    }
}